.collapse .card, .collapsing .card {
  background-color: transparent !important;
  border: none;
}

.al_collapse_template a.al_toggle,
.al_display_template a.al_toggle {
  color: #0d6efd; /* Same as daterm in Assembly Line */
  text-decoration: none;
  text-decoration-line: none;
}

.pdcaretopen, .pdcaretclosed, a[data-bs-toggle="collapse"]  {
  font-size: 1.7rem;
  text-decoration: none;
}

.step-subheading {
  font-size: 1.3rem;
  color: #0A2A78;
}

.example {
  margin-top: 1em;
  margin-bottom: 1em;
}

.example .heading {
  font-weight: bold;
  color: #0A2A78;
  margin-bottom: 0.3em;
}


.al_table, .al_table#al_user_bundle {
  margin-top: 2em;
  margin-bottom: 2em;
}

.card > ul > li:last-child  > ul > li:last-child {
  margin-bottom: 1em;
}